@use "../-mixins.scss" as *;
@use "../-variables.scss" as *;
@use "../functions" as *;

.get-started {
    padding: rem(48) 0;
    background: #f9e5da;

    @include md {
        padding-top: rem(93);
    }
}

.get-started__container {
    position: relative;
    padding: 0 rem(68);
    display: flex;
    align-items: center;
    gap: rem(60);

    @include md {
        flex-direction: column;
        align-items: revert;
    }
}

.star {
    position: absolute;
    left: rem(68);
    top: rem(-48);
    transform: translateY(-50%);

    @include md {
        top: rem(-93);
    }
}

.get-strated__item {
    line-height: 2;
    margin: 0;
}

.get-strated__item--media {
    
    @include md {
        margin-top: rem(-30);
        margin-right: rem(-68);
        margin-left: rem(-68);
        width: calc(100% + rem(68) * 2);
    }
}